In [1]:
# Import dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from config import username, password
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees_db')
connection = engine.connect()

ModuleNotFoundError: No module named 'config'

In [ ]:
# Query All Records from each table
salary_data = pd.read_sql('SELECT * FROM salaries', connection)
department_data = pd.read_sql('SELECT * FROM departments', connection)
employee_data = pd.read_sql('SELECT * FROM employees', connection)
# Rename column in employee table 
employee_data = employee_data.rename(columns={'emp_title_id':'title_id'})
dept_emp_data = pd.read_sql('SELECT * FROM dept_emp', connection)
dept_manager_data = pd.read_sql('SELECT * FROM dept_manager', connection)
title_data = pd.read_sql('SELECT * FROM titles', connection)

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees
salary_data.hist(column='salary')
plt.xlabel("Salary")
plt.ylabel("# of employees")
plt.title("Most common salary ranges for employees")
plt.savefig("Histogram.png")

In [ ]:
# Merging all relevant data together
merged_data = employee_data.merge(salary_data, on='emp_no')
merged_data = merged_data.merge(title_data, on='title_id')
merged_data.head()

In [ ]:
# Getting the average salary by title.
grouped_by_title = merged_data.groupby('title').mean()['salary']
grouped_df = pd.DataFrame(grouped_by_title)
grouped_df = grouped_df.reset_index()
grouped_df

In [ ]:
x_axis = np.arange(len(grouped_df))
labels = grouped_df['title']
# Create a bar chart based upon the above data
plt.bar(x_axis, grouped_df["salary"], align="center")
# Create the ticks for our bar chart's x axis
plt.xticks(x_axis, labels, rotation=90)
plt.xlabel("Title")
plt.ylabel("Salary")
plt.title("Average Salary By Title")
plt.savefig("BarChart.png")
plt.show()

In [ ]:
# Finding your ID number
id_num = merged_data.loc[merged_data["emp_no"] == 499942]
id_num